<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pilasvacias.yaba"
          android:installLocation="auto"
          android:sharedUserId="com.pilasvacias.yaba"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18"/>

    <!--Internet-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--Location-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--Write cache-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--NFC-->
    <uses-permission android:name="android.permission.NFC"/>

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false"/>

    <application
        android:name=".application.YabaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".screens.search.SearchActivity"/>

        <activity
            android:name=".screens.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.lineinfo.LineInfoActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.pilasvacias.yaba.screens.MainActivity"/>
        <activity
            android:name=".screens.search.SearchActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.pilasvacias.yaba.screens.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".screens.search.NfcScanActivity"
            android:label="@string/activity_nfc_scan"
            android:launchMode="singleTop"
            android:parentActivityName="com.pilasvacias.yaba.screens.MainActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="@string/nfc_mime_type"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.settings.SettingsActivity"
            android:label="@string/activity_settings"
            android:launchMode="singleTop"
            android:parentActivityName="com.pilasvacias.yaba.screens.MainActivity"/>
        <activity
            android:name=".screens.ProbaActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".modules.emt.persistence.EmtUpdateService"/>

    </application>

</manifest>
